@model IEnumerable<VacancyWeb.Models.Vacancy>

@{
    ViewBag.Title = "HomeIndex";
}
@{var c = 0;}
<div class="row">
    @foreach (var vacancy in Model) {
        @if (c == 6) {
            @{c = 0}
            </div><div class="row">
        }
    <div class="col-sm-6 col-xs-12 col-md-3" >
        <h3>Title: @vacancy.title</h3>
        <p>@vacancy.address</p>
        <p>Applications closes: @vacancy.closing_date</p>
        <p style="font-weight: bold">£@vacancy.wage_weekly / week</p>
        <p><a href="@vacancy.url">Apply</a></p>
    </div>
    }
</div>
